.top-footer {
    background-color: #F5F5F5;
    width: 100%;
    height: 236px;
}

.footer-box {
    display: inline-block;
    float: left;
    margin-top: 65px;
    padding-right: 140px;
}

.footer-box h2 {
    color: rgba(0,0,0,.87);
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    padding-bottom: 20px;
}

.footer-box p {
    line-height: 25px;
}

.footer-box p a {
    text-decoration: none;
    color: rgba(65,132,243,.87);
    font-family: Roboto, sans-serif;
}


.bottom-footer {
    height: 155px;
}


.bottom-footer a img {
    max-width: 100%;
    height: 40px;
    float: left;
    margin-top: 60px;
}

.bottom-footer ul {
    float: right;
    margin-top: 70px;
}

.bottom-footer ul li {
    display: inline-block;
    padding-left: 15px;
}

.bottom-footer ul li a {
    text-decoration: none;
    color: #444;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}