.header-border {
    border-bottom: 1px solid #E0E0E0;
}

.header-area {
    width: 100%;
    height: 256px;
    padding-top: 95px;
    position: relative;
}

.header-area div {
    display: inline-block;
    float: left;
}

.header-logo img {
    max-width: 100%;
    height: 105px;
}

.header-text {
    padding-left: 45px;
}

.header-text h1 {
    font-size: 25px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 7px;
}

.header-text h1 a {
    text-decoration: none;
    color: black;
}

.header-text p {
    line-height: 20px;
    max-width: 275px;
    font-size: 15px;
    font-family: Roboto, sans-serif;
}
