.blog-post {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #eee;
}

.blog-post h2 {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .75px;
    padding-bottom: 15px;
}

.blog-post h2 a {
    text-decoration: none;
    color: rgba(0,0,0,.87);
}

.blog-post h2 a:hover {
    color: #4184F3;
}

time {
    color: rgba(0,0,0,.54);
    font-size: 16px;
    font-family: Roboto, sans-serif;
    letter-spacing: 1px;
}

.tech-image {
    padding-top: 10px;
}

.tech-video {
    padding-top: 10px;
    max-width: 100%;
    padding-bottom: 25px;
}

.blog-post h4 {
    padding-top: 40px;
}

.blog-post h4 p {
    padding-bottom: 30px;
    font-size: 17px;
    color: rgba(0,0,0,.87);
    font-family: Roboto, sans-serif;
    line-height: 32px;
}


.byline {
    font-size: 15px;
    font-weight: normal;
    color: rgba(0,0,0,.54);
    font-family: Roboto, sans-serif;
    font-weight: normal;
}

.posts-navigation {
    float: right;
}

.posts-navigation i {
    font-size: 25px;
    color: black;
    opacity: .5;
}

.nav-previous, .nav-next {
    display: inline-block;
}

.nav-previous {
    padding-right: 20px;
}

.nav-links {
    padding-bottom: 50px;
}

