.sidebar {
    border: 1px solid #eee;
    height: 500px;
    width: 270px;
    right: 0;
    margin-top: 50px;
}

.sidebar-search {
    padding-top: 15px;
}

.search-form label {
    width: 100%;
}

.sidebar-search .search-field {
    border-radius: 0px;
    width: 100%;
    border-color: #eee;
}

.search-form .search-submit {
    display: none;
}

.tag-list {
    padding-top: 10px;

}

.tag-list h3, .archives-list h3 {
    color: rgba(0,0,0,.87);
    font-weight: 400 !important;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    padding: 20px 0px;
    border-bottom: 1px solid #eee;
}

.tag-list ul li, .archives-list ul li {
    font-size: 13px;
    font-family: Roboto, sans-serif;

}

.tag-list ul li a, .archives-list ul li a {
    color: #4184F3;
    text-decoration: none;
    line-height: 32px;
}